In [ ]:
#QUESTIONS...


Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.


Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.


Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.


Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.


Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:
    Age(Years)             Soft drink Preference

25                           Coke
42                           Pepsi
37                           Mountain dew 
19                           coke
31                           pepsi
28                           coke


Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [ ]:
#Sol1..

Student # | Study Time (hours) | Exam Score (out of 100)
-------------------------------------------------------
   1     |        5           |          75
   2     |        3           |          60
   3     |        7           |          85
   4     |        6           |          80
   5     |        4           |          70

In [ ]:
Student # | Study Time Deviation | Exam Score Deviation
-------------------------------------------------------
   1     |        0             |          1
   2     |       -2             |        -14
   3     |        2             |          11
   4     |        1             |          6
   5     |       -1             |         -4

In [ ]:

Covarianc=(0+(−2)×(−14)+2×11+1×6+(−1)×(−4))/4
covariance=15

In [ ]:
Calculate Pearson Correlation Coefficient:

r=15/(1.58*9.49)
r=1

In [2]:
#Sol2..

import pandas as pd
from scipy.stats import spearmanr

In [3]:
#Creating data
data={
    'hours of sleep':[7,5,8,6,5],
    'job satisfaction':[9,6,8,7,5]
     }

In [4]:
df=pd.DataFrame(data)

In [5]:
#calculating ranks..
df['sleep rank']=df['hours of sleep'].rank()
df['satisfaction rank']=df['job satisfaction'].rank()

In [6]:
#calculating spearman rank correlation coefficient..
correlation,p_value=spearmanr(df['sleep rank'],df['satisfaction rank'])

print(f"Spearman's rank correlation coefficient: {correlation:.3f}")

Spearman's rank correlation coefficient: 0.872

In [7]:
#Sol3..

import pandas as pd

# Creating sample data
data = {
    'Participant': list(range(1, 51)),  # Participant numbers
    'Hours of Exercise': [i for i in range(1, 51)],  # Hours of exercise per week
    'BMI': [25 - (i * 0.5) for i in range(1, 51)]  # Hypothetical BMI values inversely proportional to exercise hours
}

# Creating a DataFrame
df = pd.DataFrame(data)

# Displaying the DataFrame
df.head()

   Participant  Hours of Exercise   BMI
0            1                  1  24.5
1            2                  2  24.0
2            3                  3  23.5
3            4                  4  23.0
4            5                  5  22.5

In [8]:
df.cov()

                   Participant  Hours of Exercise      BMI
Participant             212.50             212.50 -106.250
Hours of Exercise       212.50             212.50 -106.250
BMI                    -106.25            -106.25   53.125

In [9]:
df.corr(method='pearson')

                   Participant  Hours of Exercise  BMI
Participant                1.0                1.0 -1.0
Hours of Exercise          1.0                1.0 -1.0
BMI                       -1.0               -1.0  1.0

In [10]:
df.corr(method='spearman')

                   Participant  Hours of Exercise  BMI
Participant                1.0                1.0 -1.0
Hours of Exercise          1.0                1.0 -1.0
BMI                       -1.0               -1.0  1.0

In [12]:
#Sol4..

import pandas as pd

# Creating sample data
data = {
    
    'Hours of TV per Day': [i for i in range(1, 51)],  # Hours of TV watched per day
    'Physical Activity Level': [100 - i * 2 for i in range(1, 51)]  # Hypothetical decreasing physical activity levels
}

# Creating a DataFrame
df = pd.DataFrame(data)

# Displaying the DataFrame
df.head()

   Hours of TV per Day  Physical Activity Level
0                    1                       98
1                    2                       96
2                    3                       94
3                    4                       92
4                    5                       90

In [13]:
df.corr(method='pearson')
#correlation of hours of tv watched per day with physical activity level

                         Hours of TV per Day  Physical Activity Level
Hours of TV per Day                      1.0                     -1.0
Physical Activity Level                 -1.0                      1.0

In [23]:
#Sol5..

import pandas as pd

In [24]:
#creating data
data={
    'age':[25,42,37,19,31,28],
    'soft drink':['coke','pepsi','dew','coke','pepsi','coke']
   }
df=pd.DataFrame(data)

In [29]:
# Encoding categorical variable 'soft drink' into numerical dummy variables
encoded_soft_drink = pd.get_dummies(df['soft drink'])

# Concatenating 'age' column with encoded soft drink columns
df_encoded = pd.concat([df['age'], encoded_soft_drink], axis=1)

In [30]:
# Calculating correlation
correlation_matrix = df_encoded.corr()

# Displaying the correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

Correlation Matrix:
            age      coke       dew     pepsi
age    1.000000 -0.837240  0.394132  0.576439
coke  -0.837240  1.000000 -0.447214 -0.707107
dew    0.394132 -0.447214  1.000000 -0.316228
pepsi  0.576439 -0.707107 -0.316228  1.000000

In [5]:
#Sol6..

import numpy as np
import pandas as pd

# Sample data (replace these with your actual data)
data={
   'sales_calls' : [15, 20, 12, 18, 25,22,24,16], 
  'sales_per_week' : [3, 4, 2, 3, 5,4,4,3]    
  }
df=pd.DataFrame(data)
df.head()

   sales_calls  sales_per_week
0           15               3
1           20               4
2           12               2
3           18               3
4           25               5

In [8]:
df.corr(method='pearson')

                sales_calls  sales_per_week
sales_calls        1.000000        0.946032
sales_per_week     0.946032        1.000000

In [9]:
df.corr(method='pearson')

                sales_calls  sales_per_week
sales_calls        1.000000        0.946032
sales_per_week     0.946032        1.000000