In [ ]:
#Questions...


Q1. What is data encoding? How is it useful in data science?

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.

Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.

Q6. You are working with a dataset containing information about different types of animals, including their
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
a format suitable for machine learning algorithms? Justify your answer.

Q7.You are working on a project that involves predicting customer churn for a telecommunications
company. You have a dataset with 5 features, including the customer's gender, age, contract type,
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In [ ]:
#Sol1.

Data Encoding is an important pre-processing step in Machine Learning. It refers to the process of converting
    categorical or textual data into numerical format, so that it can be used as input for algorithms to process.

Importance:
    
Data encoding removes redundancies from data.
The size of your files will be a lot smaller. 
Encoding results in faster input speed when data is saved.

In [ ]:
#Sol2:

Nominal encoding:
When we have a feature where variables are just names and there is no order or rank to this variable's 
feature. 

For example: City of person lives in, Gender of person, Marital Status, etcâ€¦ In the above example,
We do not have any order or rank, or sequence.

In [ ]:
#Sol4:
We should prefer Ordinal Encoding over any other encoding beacuse here all values are unique .So,for efficiently
applying machine learning algorithm we need to give unique numerical values to unique categorical values..

The chances of overfitting the data will be less if we use ordinal encoding.

In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [2]:
#creating sample data
df=pd.DataFrame({'grade':['A','B','C','D','E']})

In [3]:
#creating instance...
encoder=OrdinalEncoder(categories=[['A','B','C','D','E']])

In [5]:
encoder.fit_transform(df[['grade']])

array([[0.],
       [1.],
       [2.],
       [3.],
       [4.]])

In [9]:
#Sol5..

import seaborn as sns
import numpy as np

In [7]:
df=sns.load_dataset('titanic')

In [8]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [14]:
tit=np.unique(df[['sex']])

In [15]:
tit

array(['female', 'male'], dtype=object)

In [23]:
town=np.unique(df['who'])

In [24]:
town

array(['child', 'man', 'woman'], dtype=object)

In [ ]:
now here no. of new unique columns will be

no. of element in town+no. of elements in tit

In [ ]:
#Sol6..

When you're dealing with categories like species, habitat, and diet in your data, you need a way to turn
those words into numbers that a computer can understand.

Here are simple ways to do it:

Label Encoding: Imagine giving each category a number. For example:

Species: Dog - 1, Cat - 2, Bird - 3
Habitat: Forest - 1, Ocean - 2, Desert - 3
Diet: Carnivore - 1, Herbivore - 2, Omnivore - 3

One-Hot Encoding: It's like making a list for each category and marking with 1 where the animal belongs 
and 0 where it doesnâ€™t.

Species: [1, 0, 0] for Dog, [0, 1, 0] for Cat, [0, 0, 1] for Bird
Habitat: [1, 0, 0] for Forest, [0, 1, 0] for Ocean, [0, 0, 1] for Desert
Diet: [1, 0, 0] for Carnivore, [0, 1, 0] for Herbivore, [0, 0, 1] for Omnivore

you can use any one of above encoding for applying machine learning algorithms

In [ ]:
#Sol7..

Identify Categorical Features: In this case, the categorical features are "gender" and "contract type".

Choose Encoding Techniques:

For "gender" (assuming it has two categories: male and female), you could use Label Encoding since there's no
inherent order between the categories.

For "contract type" (assuming multiple categories like 'month-to-month', 'one year', 'two year'), One-Hot 
Encoding is suitable as there's no ordinal relationship between these categories.

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
# Assuming your dataset is loaded into a DataFrame called 'data'
# 'data' should have columns: ['gender', 'age', 'contract_type', 'monthly_charges', 'tenure']

In [ ]:
categorical_cols = ['gender', 'contract_type']
numerical_cols = ['age', 'monthly_charges', 'tenure']

In [ ]:
label_encoder = LabelEncoder()
data['gender_encoded'] = label_encoder.fit_transform(data['gender'])

In [ ]:
onehot_encoder = pd.get_dummies(data['contract_type'], prefix='contract')
data = pd.concat([data, onehot_encoder], axis=1)

In [ ]:
data.drop(['gender', 'contract_type'], axis=1, inplace=True)